{% extends "blog_app/base.html" %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date|date:'F d,y' }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>

        </article>
        <h3><a class="btn btn-primary" href="{% url 'blog_home' %}">All Posts</a></h3>
        {% if post.author == user %}
        <h3><a class="btn btn-warning" href="{% url 'post_update' post.pk %}">Update</a></h2><h3>
          <h3><a class="btn btn-danger"  href="{% url 'post_delete' post.pk %}">Delete</a></h3>
          {% endif %}

{% endblock content %}
